{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}
<div class="col-md-12">
    <div class="wrapper">
        <div class="row no-gutters">
            <div class="col-lg-8 col-md-7 d-flex align-items-stretch">
                <div class="contact-wrap w-100 p-md-5 p-4">
                    <h3 class="mb-4">Login Here</h3>
                    <div id="form-message-warning" class="mb-4"></div> 
              <div id="form-message-success" class="mb-4">
              </div>
                    <form method="POST" id="contactForm" name="contactForm" class="contactForm" action="">
                        {% csrf_token %}
                        <div class="row">
                           
                            <div class="col-md-12"> 
                                <div class="form-group">
                                    <label class="label" for="email">Email Address</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                         
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label" for="password">Password</label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password ">
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Login" class="btn btn-primary">
                                    <div class="submitting"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
{% endblock %}